<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="msapplication-config" content="{{asset "dist/images/favicon/browserconfig.xml"}}">
  <meta name="theme-color" content="#ffffff">

  <title>{{meta_title}}</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-11367991-9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-11367991-9');
  </script>

  <style type="text/css">
    @font-face{
      font-family:"AvenirNextLTW01-Regular";
      src:url("{{asset "dist/fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot" }}");
      src:url("{{asset "dist/fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot" }}")
       format("eot"),url("{{asset "dist/fonts/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2" }}")
       format("woff2"),url("{{asset "dist/fonts/1e9892c0-6927-4412-9874-1b82801ba47a.woff" }}")
       format("woff"),url("{{asset "dist/fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf" }}") format("truetype");
    }
    @font-face{
      font-family:"AvenirNextLTW01-Medium";
      src:url("{{asset "dist/fonts/1a7c9181-cd24-4943-a9d9-d033189524e0.eot" }}");
      src:url("{{asset "dist/fonts/1a7c9181-cd24-4943-a9d9-d033189524e0.eot" }}") format("eot"),
      url("{{asset "dist/fonts/627fbb5a-3bae-4cd9-b617-2f923e29d55e.woff2" }}") format("woff2"),
      url("{{asset "dist/fonts/f26faddb-86cc-4477-a253-1e1287684336.woff" }}") format("woff"),
      url("{{asset "dist/fonts/63a74598-733c-4d0c-bd91-b01bffcd6e69.ttf" }}") format("truetype");
    }
    @font-face{
      font-family:"Avenir Next LT W01 Bold";
      src:url("{{asset "dist/fonts/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot" }}");
      src:url("{{asset "dist/fonts/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot" }}") format("eot"),
      url("{{asset "dist/fonts/14c73713-e4df-4dba-933b-057feeac8dd1.woff2" }}") format("woff2"),
      url("{{asset "dist/fonts/b8e906a1-f5e8-4bf1-8e80-82c646ca4d5f.woff" }}") format("woff"),
      url("{{asset "dist/fonts/890bd988-5306-43ff-bd4b-922bc5ebdeb4.ttf" }}") format("truetype");
    }
    .kg-width-wide {}
    .kg-width-full {}
    .kg-gallery-container {}
    .kg-gallery-row {}
    .kg-gallery-image {}
  </style>

  <link rel="stylesheet" type="text/css" href="{{asset "dist/screen.css"}}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{asset "dist/images/favicon/favicon-32x32.png"}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{asset "dist/images/favicon/favicon-16x16.png"}}">
  <link rel="manifest" href="{{asset "dist/images/favicon/manifest.json"}}">
  <link rel="shortcut icon" href="{{asset "dist/images/favicon/favicon.ico"}}">

  <script src="{{asset "dist/scripts/moment.js"}}"></script>

  <!-- Made in Scotland with ❤️ //-->

  {{ghost_head}}

</head>

<body class="mz {{body_class}}">

  {{{body}}}

  {{> footer}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
  <script src="https://unpkg.com/@tryghost/content-api@1.2.2/umd/content-api.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "Edinburgh SF/F",
      "legalName": "Edinburgh SFF",
      "email": "hq@mallzee.com",
      "url": "https://edinburghsff.com",
      "logo": "https://edinburghsff.com/assets/dist/images/icon.svg"
    }
  </script>

  <script src="{{asset "dist/scripts/sff.js"}}"></script>
  <script src="{{asset "dist/scripts/ghosthunter.js"}}"></script>

  {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
  {{{block "scripts"}}}

  {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
  {{ghost_foot}}

  </body>
</html>
